.progress-bar .progress-bar-aqua {
    width: 20%;
}
.progress-bar .progress-bar-green{
    width: 40%;
}
.progress-bar .progress-bar-red{
    width: 60%;
}
.progress-bar .progress-bar-yellow{
    width: 80%;
}
.skin-blue .main-header .navbar {
    background-color: #395d71;
}
.logo img.img {
    height: 40px;
}