
/*h1{*/
    /*font-size: 30px;*/
    /*color: #fff;*/
    /*text-transform: uppercase;*/
    /*font-weight: 300;*/
    /*text-align: center;*/
    /*margin-bottom: 15px;*/
/*}*/
/*table{*/
    /*width:100%;*/
/*}*/
/*.tbl-header{*/
    /*background-color: rgba(255,255,255,0.3);*/
/*}*/
/*.tbl-content{*/
    /*!*height:300px;*!*/
    /*!*overflow-x:auto;*!*/
    /*margin-top: 0px;*/
    /*!*border: 1px solid rgba(255,255,255,0.3);*!*/
/*}*/
/*th{*/
    /*padding: 20px 15px;*/
    /*text-align: left;*/
    /*font-weight: 700;*/
    /*font-size: 12px;*/
    /*color: #fff;*/
    /*text-transform: uppercase;*/
/*}*/
/*td{*/
    /*padding: 15px;*/
    /*text-align: left;*/
    /*vertical-align:middle;*/
    /*font-weight: 300;*/
    /*font-size: 12px;*/
    /*color: #fff;*/
    /*border-bottom: solid 1px rgba(255,255,255,0.1);*/
/*}*/


/*!* demo styles *!*/

/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);*/
/*!*body{*!*/
    /*!*background: -webkit-linear-gradient(left, #25c481, #25b7c4);*!*/
    /*!*background: linear-gradient(to right, #25c481, #25b7c4);*!*/
    /*!*font-family: 'Roboto', sans-serif;*!*/
/*!*}*!*/
/*section{*/
    /*margin: 50px;*/
/*}*/


/*!* for custom scrollbar for webkit browser*!*/

/*::-webkit-scrollbar {*/
    /*width: 6px;*/
/*}*/
/*::-webkit-scrollbar-track {*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*}*/
/*.refund_btn{*/
    /*background-color: green;*/
    /*border: none;*/
    /*color: white;*/
    /*padding: 10px 23px;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    /*font-size: 14px;*/
    /*border-radius: 16px;*/
/*}*/

.wrapper{
    height: 100vh;
}